/*

Template:  The Corps - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Version: 2.1
Design and Developed by: potenzaglobalsolutions.com

NOTE: This is color stylesheet of Color Scheme.

*/

/*************************
		General
*************************/
/** selection **/
*::-moz-selection { background: #00a406; color: #fff; text-shadow: none; }
::-moz-selection { background: #00a406; color: #fff; text-shadow: none; }
::selection { background: #00a406; color: #fff; text-shadow: none; }

/** buttton **/
a.button { background-color: #00b106; }
a.button.button-white { color: #00b106; }
a.button.button-white i { color: #00b106; }
a.button.button-white span { color: #00b106; }
a.button.button-grey {  color: #00b106; }
a.button.button-grey i { color: #00b106; }
a.button.button-grey span { color: #00b106; }
a.button.button-black { color: #00b106; }
a.button-border span { color: #00b106;  border:1px solid #00b106; }
a.button-border span:hover { border-color: #00b106; }
a.button-border-white span:hover { color: #00b106; } 
button.button, .navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:hover>.icon-bar { background-color: #00b106; }

 #back-to-top .top { background: #00b106; }
 
/** tooltip **/
.tooltip:after, [data-tooltip]:after{ background-color: #00b106; }
.tooltip:before,.tooltip-top:before{ border-color: #00b106; }
[data-tooltip]:before, .tooltip::before, .tooltip-top::before{  border-top-color: #00b106;}

  
 /*important */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #00b106 !important; }
.skills .jqbar.vertical .bar-level { background: #00b106 !important; }

/*************************
		 Background
*************************/
/** Color BG **/
.blue-bg, .section-title .title-line::before, .section-title .title-line::after, .team .team-overlay .info, .isotope-filters button.active, .isotope-filters button:hover, .portfolio .portfolio-item, .blog-box .border, .owl-carousel-2 .owl-nav i:hover, .footer-widget-social a i { background: #00b106;}


/*************************
		 Color
*************************/
/** Color **/
 a:hover, .text-blue, #menu.navbar-default .navbar-nav li a:hover, span.tooltip-content-2, ul.who-we-are-about i, .feature-1-title span, .feature-2 span, .team .team-overlay .social li a:hover, a.blog-btn, .blog-info i, .contact-form .section-field i, .contact-info .contact-add i, .footer-widget a, .footer-widget a:hover { color:#00b106; }
 
 /*************************
		 Border
*************************/
/** 1px **/
 .isotope-filters button.active, .isotope-filters button:hover { border-color: #00b106; }

 

 
